# Build directories
build/
cmake-build-*/
CMakeFiles/

# CMake cache
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Object files and libraries
*.o
*.a
*.so
*.dylib

# Executables
RDP.out
RDP.out.bak
radio-cartographer

# Backups
*.bak
*.swp
*~

# Logs
*.log

# OS Specific
.DS_Store

# temp files
testing/**/*.fits
testing/**/*.txt
testing/Temporary

# pyrc pycache
pyrc/**/__pycache__/
/crownofthorns_nod_processed.fits
.venv/
